[Unit]
Description=Process historical Carcassonne GG BGA replay queue every 30 minutes

[Timer]
OnBootSec=30min
OnUnitInactiveSec=30min
AccuracySec=1min
Unit=bga-replay-worker@historical.service

[Install]
WantedBy=timers.target
