[Unit]
Description=Process historical Carcassonne GG BGA replay queue every 15 minutes

[Timer]
OnBootSec=15min
OnUnitInactiveSec=15min
AccuracySec=1min
Unit=bga-replay-worker@historical.service

[Install]
WantedBy=timers.target
