[Unit]
Description=Process historical Carcassonne GG BGA replay queue every 2 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=2min
AccuracySec=10s
Unit=bga-replay-worker@historical.service

[Install]
WantedBy=timers.target
