[Unit]
Description=Check requested Carcassonne GG BGA replay archives every minute

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
AccuracySec=5s
Unit=bga-replay-worker@archive-follow-up.service

[Install]
WantedBy=timers.target
